# Project: LLv2025

# Contributors:
#  - Julien Ganivet <julien.ganivet@unil.ch>
#  - Xavier Beheydt <xavier.beheydt@gmail.com>

name: LumieresLausanne

networks:
  frontend:
  backend:


volumes:
  db-data:


services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile.app
    image: unil/lumieres-lausanne:latest
    env_file:
      - ${PWD}/.env
    depends_on:
      - db
    volumes:
      - ${PWD}/app/media:/app/media
    expose:
      - 8000:8000
    networks:
      - frontend
      - backend
    profiles: [ test, prod ]

  search:
    # XXX: switch to EleasticSearch ?
    image: solr:9.8.1-slim
    # build: docker/solr
    # user: ${UID}:${GID}
    # TODO check https://hub.docker.com/_/solr
    networks:
      - backend
    command:
      - solr-precreate
      - gettingstarted
    volumes:
      - ${PWD}/tmp/search/data:/var/solr
    profiles: [ prod, test, dev ]
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8983/solr/admin/info/system" ]
      interval: 30s
      timeout: 10s
      retries: 3

  db:
    image: mysql:9.3
    env_file:
      - ${PWD}/.env
    volumes:
      - db-data:/var/lib/mysql
      - ${PWD}/settings/db/mysql-custom.cnf:/etc/mysql/conf.d/mysql-custom.cnf:ro
    networks:
      - backend
    profiles: [ prod, test, dev ]
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 30s
      timeout: 10s
      retries: 3

  phpmyadmin:
    image: phpmyadmin:latest
    links:
      - db
    depends_on:
      - db
    networks:
      - backend
    environment:
      PMA_HOST: db
    profiles: [ dev, test ]

  nginx:
    image: nginx:1.25
    depends_on:
      - app
    ports:
      - "8080:80"
    volumes:
      - ./settings/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./app/static:/app/static:ro
      - ./app/media:/app/media:ro
    networks:
      - frontend
      - backend
    profiles: [ prod, test ]
