{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}" />
{% endblock %}

{% block extrahead %}
{# script déplacé en bas de page #}
{% endblock %}

{% block title %}{{ title }} | {% trans 'Administration Lumières.Lausanne' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Administration Lumières.Lausanne' %}</h1>
{% endblock %}

{% block nav-global %}
<ul id="navigation">
	<li><a href="{% url 'home' %}">{% trans 'Retour vers les fiches' %}</a></li>
</ul>
{% endblock %}

{% block footer %}
{{ block.super }}
<script src="{% static 'js/fiches_admin.js' %}"></script>
{% endblock %}
