{#<!-- Based on http://www.tummy.com/Community/Articles/django-pagination/ -->#}
<div class="pager">
   {% if has_previous %}
      <span class="page">
      <a href="?page={{ previous }}{{ qs }}">&lt; Précédente</a>
      </span>
   {% endif %}

   {% if show_first %}
      <span class="page"><a href="?page=1">1</a></span>
      <span class="ellipsis">...</span>
   {% endif %}
   {% for linkpage in page_numbers %}
      {% if linkpage == page %}
         <span class="current">{{ page }}</span>
      {% else %}
         <span class="page"><a href="?page={{ linkpage }}{{ qs }}">{{ linkpage }}</a></span>
      {% endif %}
   {% endfor %}
   {% if show_last %}
      <span class="ellipsis">...</span>
      <span class="page"><a href="?page=last{{ qs }}">{{ pages }}</a></span>
   {% endif %}
   {% if has_next %}
      <span class="page"><a href="?page={{ next }}{{ qs }}">Suivante &gt;</a></span>
   {% endif %}
</div>