{% load fiches_extras %}

{% if contrib_man %}
<div class="{%if edition %}fieldWrapper{% else %}field_wrap{% endif %}">
 <div class="field_label">Ecrits non publiés</div>
 <div class="field_value">
   <ul class="biblioref-list2">
           {% for cbm in contrib_man %}{% with cbm.document as ref %}
           {% spaceless %}<li class="doctype_{{ ref.document_type.id }}">{% biblioref %}</li>{% endspaceless %}
           {% endwith %}{% endfor %}
   </ul>
 </div>
 <div class="fixclear"></div>
</div>
{% endif %}

{% if ref_list %}
<div class="{%if edition %}fieldWrapper{% else %}field_wrap{% endif %}">
 <div class="field_label">Publications</div>
 <div class="field_value">
   <ul class="biblioref-list">
   {% for doc_types in grouped_refs_prim %}
     {% for contrib_types in doc_types.list %}
     <li><div class="doc_type-label doc_type-{{ doc_types.grouper.id }}">{{ doc_types.grouper.name }} - {{ contrib_types.grouper }}</div>
       <ul>
         {% with contrib_types.list as ref_list %}{% for ref in ref_list %}
         {% spaceless %}<li class="doctype_{{ ref.document_type.id }}">{% biblioref %}</li>{% endspaceless %}
         {% endfor %}{% endwith %}
       </ul>
     </li>
   {% endfor %}
   {% endfor %}
   </ul>
 </div>
 <div class="fixclear"></div>
</div>
{% endif %}

{% if litt_prim %}{% regroup litt_prim by document_type as grouped_litt_prim %}
<div class="{%if edition %}fieldWrapper{% else %}field_wrap{% endif %}">
 <div class="field_label">Littérature primaire</div>
 <div class="field_value">
   <ul class="biblioref-list">
   {% for documents in grouped_litt_prim %}
     <li><div class="doc_type-label doc_type-{{ documents.grouper.id }}">{{ documents.grouper.name }}</div>
       <ul>
         {% with documents.list as ref_list %}{% for ref in ref_list %}
         {% spaceless %}<li class="doctype_{{ ref.document_type.id }}">{% biblioref %}</li>{% endspaceless %}
         {% endfor %}{% endwith %}
       </ul>
     </li>
   {% endfor %}
   </ul>
 </div>
 <div class="fixclear"></div>
</div>
{% endif %}

{% if litt_sec %}{% regroup litt_sec by document_type as grouped_litt_sec %}
<div class="{%if edition %}fieldWrapper{% else %}field_wrap{% endif %}">
 <div class="field_label">Littérature secondaire</div>
 <div class="field_value">
   <ul class="biblioref-list">
   {% for documents in grouped_litt_sec %}
     <li><div class="doc_type-label doc_type-{{ documents.grouper.id }}">{{ documents.grouper.name }}</div>
       <ul>
         {% with documents.list as ref_list %}{% for ref in ref_list %}
         {% spaceless %}<li class="doctype_{{ ref.document_type.id }}">{% biblioref %}</li>{% endspaceless %}
         {% endfor %}{% endwith %}
       </ul>
     </li>
   {% endfor %}
   </ul>
 </div>
 <div class="fixclear"></div>
</div>
{% endif %}
