#header { height: 65px; background: #E3DFD4 url(images/logo_unil_banner.gif) no-repeat scroll 5px 50%; color: #5D5D5A; border-bottom: 1px solid #C6BDA8;}
#branding h1 { margin: 10px 0 0 140px; color: #5D5D5A; }

#navigation { float: right; padding-right: 10px; }
#navigation li { list-style: none; }

a:link, a:visited { color: #827554; }
a:hover { color: #423A28; }

#header a:link, #header a:visited { color: #990000; }

div.breadcrumbs { border-bottom-color: #C6BDA8; }

.row1 { background-color: #F0EDE7; }

.module h2, .module caption, .inline-group h2 { background: #d3c5b6 url(images/admin/default-bg.gif) 0 0 repeat-x; }

.button.default, input.default[type="submit"], .submit-row input.default { border-color: #a88f74; background: #d3c5b6 url(images/admin/default-bg.gif) 0 0 repeat-x; }


/**
 * Redefine standard widget
 */

 /* ===== Permissions Selector ===== increase width */
.permissions .selector { width: 840px; }							/* w*2 + 40 */
.permissions .selector .selector-available input { width: 360px; }	/* w - 40   */
.permissions .selector select,
.permissions .selector-available, .permissions  .selector-chosen { width: 400px; }

.fiches-project .stacked { width: 800px; }
.fiches-project .stacked .selector-available input { width: 742px; }
.fiches-project .stacked select,
.fiches-project .stacked .selector-available, 
.fiches-project .stacked .selector-chosen { width: 780px; height: auto; }

.icon-btn { padding-left: 0; }
.icon-btn .icon { background-position: 0 0; background-repeat: no-repeat; line-height: 14px; padding: 0 10px; }

.check-btn .icon { background-image: url(images/tick.png); }
.generate-btn .icon { background-image: url(images/lightbulb.png); }


/* ===== CKEditor ===== */
.cke_skin_v2 table.cke_editor .cke_top { border-color: #696969 !important; }
.x-cke_label_button .cke_label { display: inline !important; padding-left: 0 !important; }
.x-cke_label_button .cke_icon { display: none !important; }
.x-trans-suppressed_button .cke_label { text-decoration: line-through; }
