@page { margin: 2cm; margin-left: 2.5cm; }

body {
    color: #000;
	background: #ffffff;
}
button { display: none; }
#container_main { box-shadow: none; border: none; width: auto; margin: 0; }

#layout_dev_panel, .ribbon-container { display:none; }

#page-banner, #page-banner h1.app_title { position: static; height: auto; background: #ffffff; color: #555; }
#page-banner h1.app_title { margin-bottom: 10px; }
div.ia-menu-outer,
div.ia-header-outer,
div.ia-footer-upper-outer,
div.ia-innovagency,
#page-banner .logo,
#page-banner .main-navig,
#page-banner .searchbar,
#login-info,
.search-navigator,
#page-banner,
.header,
.field_group.access_private,
.field_group.meta_general,
.printing_comments {
	display: none;
}

.field_group.meta_notes .nonpublic_note {
	/*display:none;*/
}
.field_label .access_status { display:none; }

#page-content .header { color: #333; background: #FFF; border: dotted 1px #000; border-width: 1px 0; }

#main-box .status-box,
#main-box .toolbar-box,
#main-box .content .documentfile_list { display: none; }

/*.main .content h2 { font-size: 15px !important; }*/

.main .content { padding: 10px 0; color: #000; }

.content h2 .biblioref-item.inline_doctype {
  background: none;
  padding-left: 0;
}

h2.transcription, .transcription-data { font-size: 120% }
h2.transcription { border-bottom: solid 1px black; }

/*.main .content .field_label { font-size: 12px; }
.main .content .field_value { font-size: 15px; }*/

.main .content h2.transcription {  /*font-size: 17px !important;*/ background: #FFF;  }

.content .transcription-data {
	border: none !important;
	background: #FFF !important;
    margin: 0 !important;
	border-radius: 0 !important;
}
#transcription-view-controls { display: none; }

.content .field_label {
    background-color: #FFF;
    border: 0;
    color: #333;
    border-right: solid 1px black;
}

.content .cite_as {
	position: static !important;
}
h1.ia { color: black; text-shadow: none; }
#page-content .header + h1.ia { margin-top: inherit; padding-top: 0;}
.illeg, .sic { color: black !important; }
.ia-footer-lower-inner .ia-copyright, a, a:link, a:visited, .freecontent a, a.ia-link {  color: black; }
.ia-footer-lower-inner * { text-transform: none; text-shadow: none; }
.ia-content-inner .main .content, .ia-footer-lower-outer, .ia-content-inner .content h2 .biblioref-item, .cite_as { background: none; }
.ia-content-inner { width: auto; }
