.fixclear,
.clear {
	clear: both;
}


/*
==========-  HOME  -=======================================
*/

.home .jcarousel {
	width: 1000px;
	height: 250px;
}

.home .jcarousel .prev,
.home .jcarousel .next {
	top: 90px;
}

.home .jcarousel a.legend,
.home .jcarousel p.legend {
	box-shadow: inset 0 1px 2px #89826d;
	width: 930px;
	height: 30px;
	color: #89826d;
	border-top: 3px solid #f0750b;
	text-shadow: 0px 1px 0px #e2e1da;
	position: absolute;
	bottom: 0;
}

.home .jcarousel p.legend {
	background-color: #c4c5b4;
	font-size: 12px;
	width: 980px;
	padding: 10px 10px 5px 10px;
	line-height: 22px;
}

.home .jcarousel a.legend {
	background: #c4c5b4 url(../images/innovagency/arrow-caption.png) scroll no-repeat right -9px !important;
	font-family: 'LaneNarrowRegular', Arial, sans-serif;
	font-size: 20px;
	padding: 10px 60px 5px 10px;
	line-height: 22px;
	color: #f0750b;
}

.home .jcarousel a.legend:hover {
	background-position: right -69px !important;
	color: #f0750b;
	text-decoration: none;
}


/*
==========-  CONTENT  -=======================================
*/
.content .field_group {
	margin: 15px 0 20px;
}

.content .field_wrap {
	margin: 2px 0;
}

.content .field_label {
	width: 120px;
	float: left;
	font-size: 11px;
	line-height: 1.0em;
	padding: 4px;
	vertical-align: top;
}

.content .field_label {
	background-color: #EFEEE9;
	color: #5D5D5A;
	border-color: #E3DFD4;
}

/*### THEME ###*/
.content .field_value {
	font-size: 13px;
	margin-left: 130px;
}

.content .contributions li {
	padding: 2px 0;
}

.content .contributions .type {
	font-size: 80%;
	font-style: italic;
	color: #333;
	background-color: inherit;
}

.content .subjects li {
	padding-bottom: 10px;
}

.content .subjects li ul {
	padding-left: 10px;
}

.content .subjects li li {
	list-style: circle inside;
	padding-bottom: 0;
}

.content .sub_label {
	font-style: italic;
	font-size: 11px;
	line-height: 1.1em;
	padding: 2px 2px;
}

.content .sub_label {
	background-color: #F7F6F1;
	color: #5D5D5A;
}


/*### THEME ###*/

/*---------- Display table ---------------------------------------*/
.content .field_group {
	display: table;
	border-collapse: separate;
	border-spacing: 0 5px;
	margin: 0 0 7px !important;
}

.content .field_wrap {
	display: table-row;
}

.content .field_label,
.content .field_value {
	display: table-cell;
	float: none !important;
}

.content .field_value {
	padding-left: 5px;
	vertical-align: middle;
}

.content .meta_general .field_value {
	padding-right: 40px;
}

.content .meta_general .field_value.last {
	padding-right: 0;
}

.content .field_value p {
	margin-bottom: 0.5em;
}


/*
==========-  BIBLIOGRAPHY  -=======================================
*/
.doc_type-1,
.doc_type-2,
.doc_type-3,
.doc_type-4 {
	background: url(images/page.png) 0 0 no-repeat;
	padding-left: 20px;
}

.doc_type-1 {
	background-image: url(images/doctype_book.png);
}

.doc_type-2 {
	background-image: url(images/doctype_bookItem.png);
}

.doc_type-3 {
	background-image: url(images/doctype_journalArticle.png);
}

.doc_type-4 {
	background-image: url(images/doctype_journalArticle.png);
}

/* ---------- Documents Panel ---------- */
.documentfile_list.panel_box {
	float: right;
	width: 280px;
	margin: 20px 5px 0;
	overflow: hidden;
}

#container_main.v2 .documentfile_list.panel_box {
	margin-top: 0px;
}

#container_main.v2 .documentfile_list.panel_box h4 {
	font-size: 92.307%;
}

#container_main.v2 .documentfile_list.panel_box .panel_body {
	font-size: 84.615%;
}

.documentfile_list li {
	line-height: 16px;
	padding: 5px 0;
}

.documentfile_list li a {
	white-space: nowrap;
}

.docfile_type_icon {
	float: left;
	margin-right: 0.3em;
	height: 16px;
	width: 16px;
	outline: 0;
}

.docfile_type_pdf {
	background: url(images/page_white_acrobat.png) 0 0 no-repeat;
}

.docfile_type_image {
	background: url(images/image.png) 0 0 no-repeat;
}

.docfile_type_url {
	background: url(images/page_world.png) 0 0 no-repeat;
}


/*
==========-  BIOGRAPHY  -=======================================
*/

ul.biblioref-list li {
	margin-bottom: 20px;
}

ul.biblioref-list2 li {
	margin-bottom: 9px;
}

ul.biblioref-list li li {
	margin-bottom: 9px;
	padding-left: 30px;
}

ul.biblioref-list .biblioref-item,
ul.biblioref-list2 .biblioref-item {
	line-height: 1.2em;
}

ul.biblioref-list .doc_type-label {
	height: 20px;
	line-height: 18px;
	background-position: 0 2px;
}

ul.relations-list div.invalid-bio-marker {
	width: 16px;
	height: 16px;
	padding: 0 8px;
	line-height: 16px;
	background: url(images/bullet_error.png) 0 1px no-repeat;
	display: inline;
}

ul.relations-reverse {
	font-style: italic;
	margin-top: 5px;
}


/*---------- Keyword List ---------------------------------------*/
.content .subjects .keyword-list li {
	list-style: circle inside;
}

.content .subjects .keyword-list li ul {
	padding-top: 1px;
	padding-bottom: 5px;
}

.content .subjects .keyword-list li li {
	list-style: none;
	padding-bottom: 0;
	padding-left: 15px;
}


/*
 * trans
 */
.content .transcription-data {
	width: auto !important;
	max-width: none;
}

#transcription-view-controls {
	font-size: 11px;
	margin-bottom: 10px;
}

#transcription-toc {
	position: static !important;
	float: none !important;
	width: 100% !important;
	background: #f5f5f0;
	padding: 10px 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid #c4c5b4;
	max-height: 12.5%;
	overflow-y: auto;
	font-size: 11px;
	box-shadow: none !important;
	top: auto !important;
	right: auto !important;
}

#transcription-toc .title {
	font-weight: bold;
	margin-bottom: 5px;
}

#transcription-toc ul {
	margin: 0;
	padding: 0;
}

#transcription-toc li {
	list-style: disc inside;
}

#transcription-toc .toclevel2 {
	padding-left: 10px;
}

.cite_as {
	background: url(images/bg-citeas.png);
}

.cite_as .biblioref-item {
	display: inline;
}

/*
==========   PROJECTS  =========================================
 */

.freecontent .jcarousel,
.ia-panel .jcarousel {
	width: 450px;
	height: 333px;
	margin: 0 25px 5px 0;
	float: left;
}

.freecontent .jcarousel .legend,
.ia-panel .jcarousel .legend {
	width: 440px;
}

#main-box .content .project-description {
	font-size: 1.27em;
	line-height: 1.4em;
	padding: 0.25em;
}

#main-box .content .project-description p {
	margin-bottom: 1em;
}

#main-box .content .project-description ul {
	padding-left: 1.3em;
	margin: 0.25em 0 0.75em;
}

#main-box .content .project-description li {
	list-style: disc inside;
}

#main-box .content .project-description li li {
	list-style: circle inside;
}

#main-box .content .project-description sup {
	font-size: smaller;
	line-height: normal;
	vertical-align: super;
}