@page normal, @page :left, @page :right {size:portrait;margin:1in;}
html {page: normal; margin: 0; padding: 0;}
#left-menu, 
ul.main-navigation-menu, 
#login-info, 
#main-box .header, 
#transcription-view-controls,
.search-navigator,
#page-banner {
	display:none
}
#main-box {margin-left:0; border:none} 
div.transcription-data,div#page-banner {max-width:100%; width:100%; background: #fff;color: #000; border:none;font-size:90%}
#page-banner h1 {color:#000; }
#banner-search-box {display:none}
.footer {color:#000; margin-left:0;font-size:70%}

.unil_print_logo {display:block !important; float:left;}

.transcription-data span.note-editorial, .transcription-data span.note-document {border: none !important;background:none!important}
.transcription-data span.note-editorial:before, .transcription-data span.note-document:before {padding:0 !important; }
