/* Copyright 2013 © Innovagency Sàrl */

/* base reset */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, a, textarea {
    font-family: Arial, sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
}

/* base main */

body {
	background: transparent url(../images/innovagency/bg-main.gif) scroll repeat left top;
}

:focus {
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0;
}

::selection {
	background-color: #f0750b;
	color: white;
	text-shadow: none;
}

.ia-clear {
	clear: both;
	font-size: 1px;
}

img.ia {
	border: 0;
}

/* text main */

@font-face {
    font-family: 'LaneNarrowRegular';
    src: url('../font/LANENAR_-webfont.eot');
    src: url('../font/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/LANENAR_-webfont.woff') format('woff'),
         url('../font/LANENAR_-webfont.ttf') format('truetype'),
         url('../font/LANENAR_-webfont.svg#LaneNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* text title */

h1.ia {
	font-family: 'LaneNarrowRegular', Arial, sans-serif;
	padding: 15px 0 15px 0;
	font-size: 30px;
	color: #f0750b;
	font-weight: normal;
	text-shadow: 0 1px 0 white;
}

.freecontent h1 {
	font-family: 'LaneNarrowRegular', Arial, sans-serif;
	padding: 15px 0 15px 0;
	font-size: 30px;
	color: #f0750b;
	font-weight: normal;
	text-shadow: 0 1px 0 white;
}

h2.ia {
	font-family: 'LaneNarrowRegular', Arial, sans-serif;
	padding: 5px 0 15px 0;
	font-size: 25px;
	color: #f0750b;
	font-weight: normal;
	text-shadow: 0 1px 0 white;
}

.freecontent h2 {
	font-family: 'LaneNarrowRegular', Arial, sans-serif;
	padding: 5px 0;
	font-size: 25px;
	color: #f0750b;
	font-weight: normal;
	text-shadow: 0 1px 0 white;
}

h3.ia {
	font-family: 'LaneNarrowRegular', Arial, sans-serif;
	padding: 10px 0 0 0;
	font-size: 20px;
	color: #f0750b;
	text-shadow: 0 1px 0 white;
}

.freecontent h3 {
	font-family: 'LaneNarrowRegular', Arial, sans-serif;
	padding: 5px 0;
	font-size: 20px;
	color: #89826d;
	text-shadow: 0 1px 0 white;
}

/* text paragraph */

.freecontent p, p.ia {
	padding: 0 0 10px 0;
	text-align: justify;
	line-height: 22px;
	color: #2e2f1e;
}

/* text link */

.freecontent a, a.ia {
	text-decoration: none;
}

.freecontent a, a.ia-link {
	color: #f0750b;
	padding: 1px 2px;
	border-radius: 2px;
}

.freecontent a:hover, a.ia-link:hover {
	color: white;
	background-color: #f0750b;
	text-shadow: none;
	text-decoration: none;
}

/* header main */

.ia-header-outer {
	width: 100%;
}

.ia-header-inner {
	width: 1000px;
	height: 85px;
	margin: auto;
}

/* header logo */

.ia-header-inner .ia-logo {
	float: left;
	margin-top: 6px;
}

/* header login */

.ia-header-inner .ia-login {
	background: transparent url(../images/innovagency/bg-box.png) scroll repeat left top;
	box-shadow: inset 0 1px 2px #c4c5b4;
	border-radius: 3px;
	float: right;
	line-height: 15px;
	margin-top: 30px;
	padding: 3px 5px;
	font-size: 10px;
	color: #808080;
	text-transform: uppercase;
}

.ia-header-inner .ia-login a.ia {
	font-size: 10px;
	text-transform: uppercase;
}

/* menu main */

.ia-menu-outer {
	background: transparent url(../images/innovagency/bg-menu.png) scroll repeat-x left top;
	width: 100%;
	height: 37px;
}

.ia-menu-inner {
	width: 1000px;
	height: 37px;
	margin: auto;
}

.ia-menu-inner ul.ia {
	width: 700px;
	float: left;
}

.ia-menu-inner li.ia {
	display: list-item;
	float: left;
	list-style-type: none;
	list-style-image: none;
}

.ia-menu-inner li.ia a.ia {
	font-size: 11px;
	color: white;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #2e2f1e;
	line-height: 35px;
	padding: 0 20px;
	display: block;
	background: transparent url(../images/innovagency/bg-item-over.png) scroll repeat-x left 35px;
	-webkit-transition: background-position 0.5s ease-out;
	-moz-transition: background-position 0.5s ease-out;
    -ms-transition: background-position 0.5s ease-out;
    -o-transition: background-position 0.5s ease-out;
    transition: background-position 0.5s ease-out;
}

.ia-menu-inner li.ia a.ia:hover,
.ia-menu-inner li.ia a.ia:active,
.ia-menu-inner li.ia a.ia-selected {
	background-position: left top;
}

.ia-menu-inner li.ia span.ia-arrow {
	background: transparent url(../images/innovagency/arrow-menu.gif) scroll no-repeat right center;
	display: block;
	padding-right: 12px;
	cursor: pointer;
}

/* menu submenu */

.ia-menu-inner ul.ia-submenu {
	background: transparent url(../images/innovagency/bg-submenu.png) scroll repeat left top;
	/*background-color: #89826d;*/
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 3px #2e2f1e;
	position: absolute;
	z-index: 1000;
}

.ia-menu-inner ul.ia-submenu a {
	font-size: 11px;
	color: white;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #2e2f1e;
	line-height: 35px;
	padding: 0 25px;
	display: block;
}

.ia-menu-inner ul.ia-submenu a:hover {
	background-color: #99917a;
	text-decoration: none;
}

/* menu search */

.ia-menu-inner .ia-search {
	width: 300px;
	float: right;
}

.ia-menu-inner .ia-search .ia-sep {
	background: transparent url(../images/innovagency/sep-menu.gif) scroll no-repeat left top;
	width: 2px;
	height: 35px;
	float: right;
}

.ia-menu-inner .ia-search input.ia {
	background: transparent url(../images/innovagency/bg-search-collapse.png) scroll no-repeat left top;
	width: 115px;
	height: 35px;
	color: #c4c5b4;
	font-size: 11px;
	text-shadow: 0 1px 0 #2e2f1e;
	text-transform: uppercase;
	border: 0;
	padding: 0 10px 0 25px;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease-in;
    -ms-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
    float: right;
}

.ia-menu-inner .ia-search input.ia:focus {
	background-image: url(../images/innovagency/bg-search-expand.png);
	width: 215px;
	color: white;
}

.ia-menu-inner .ia-search .ia-btn-plus {
	background: transparent url(../images/innovagency/btn-adv-search.png) scroll no-repeat left top;
	width: 32px;
	height: 35px;
	float: right;
}

.ia-menu-inner .ia-search .ia-btn-plus:hover {
	background-position: left bottom;
	cursor: pointer;
}

/* content main */

.ia-content-outer {
	width: 100%;
}

.ia-content-inner {
	width: 1000px;
	margin: auto;
	padding-bottom: 20px;
}

.ia-content-inner .header {
	background-color: transparent !important;
}

.ia-content-inner .ia-sep {
	background: transparent url(../images/innovagency/sep-content.png) scroll repeat-x left top;
	height: 4px;
	margin: 15px 0;
}

/* content overwrite */

.ia-content-inner .main .content {
	background: transparent url(../images/innovagency/bg-box.png) scroll repeat left top;
}

.ia-content-inner .main .sub-navig .ui-tabs-selected {
	background: transparent url(../images/innovagency/bg-box.png) scroll repeat left top;
	top: 0;
}

.ia-content-inner .content h2 .biblioref-item {
	background-color: #c4c5b4;
	padding: 5px;
}

.ia-content-inner .content .norm {
	background-color: #EFEFEF;
}

/* content message */

.ia-content-inner .message {
	background: transparent url(../images/innovagency/bg-box.png) scroll repeat left top;
	line-height: 19px;
	font-style: italic;
	margin: 0;
	padding: 20px;
}

/* content box */

.ia-box {
	box-shadow: 0 1px 0 white;
	width: 310px;
	float: left;
}

.ia-box h3 {
	background: transparent scroll no-repeat left 9px;
	text-transform: uppercase;
	line-height: 31px;
	padding-left: 37px;
	margin-bottom: 10px;
}

.ia-box h3 a {
	color: inherit;
	font: inherit;
}

.ia-box ul {
	background: transparent url(../images/innovagency/bg-box.png) scroll repeat left top;
	box-shadow: inset 0 1px 2px #c4c5b4;
	border-radius: 3px;
	padding: 5px;
}

.home .ia-box ul {
	height: 175px;
}

.ia-box li {
	padding: 5px 10px;
}

.ia-box li .ia-date {
	font-size: 10px;
	font-style: italic;
	color: #89826d;
	margin-left: 3px;
}

.ia-news {
	margin-right: 35px;
}

.ia-news h3 {
	background-image: url(../images/innovagency/icon-news.png);
}

.ia-transcripts h3 {
	background-image: url(../images/innovagency/icon-transcripts.png);
}

.ia-transcripts .biblioref-item span {
	color: #89826d;
}

.ia-finds {
	margin-left: 35px;
}

.ia-finds h3 {
	background-image: url(../images/innovagency/icon-finds.png);
}

/* content row */

.ia-row {
	margin-bottom: 30px;
}

.ia-row .ia-thumbnail {
	background: transparent scroll repeat left top;
	width: 296px;
	height: 280px;
	box-shadow: 0 1px 0 white;
	float: left;
	overflow: hidden;
}

.ia-row .unpublished {
	background-image:  url(../images/innovagency/bg-thumbnail-unpublished.png);
}

.ia-row .published {
	background-image:  url(../images/innovagency/bg-thumbnail-published.png);
}

.ia-row .ia-thumbnail-center {
	margin-left: 56px;
	margin-right: 56px;
}

.ia-row .ia-thumbnail .ia-img {
	z-index: 1;
}

.ia-row .ia-thumbnail img.ia {
	padding: 3px;
}

.ia-row .ia-thumbnail h3.ia {
	padding: 0 10px 5px 10px;
}

.ia-row .ia-thumbnail p.ia {
	font-size: 11px;
	line-height: normal;
	padding: 0 10px 10px 10px;
}

/* content panel */

.ia-panel h2 {
	font-family: 'LaneNarrowRegular', Arial, sans-serif;
	padding: 5px 0 15px 0;
	font-size: 25px;
	color: #f0750b;
	font-weight: normal;
}

.ia-panel h3 {
	font-family: 'LaneNarrowRegular', Arial, sans-serif;
	padding: 20px 0 0 0;
	font-size: 20px;
	color: #f0750b;
}

.ia-panel h2, .ia-panel h3, .ia-panel p, .ia-panel a, .ia-panel span {
	text-shadow: none;
}

.ia-panel p {
	padding: 5px 0;
	text-align: justify;
	line-height: 22px;
}

.ia-panel p, .ia-panel span {
	color: #cccccc;
}

.freecontent a, .ia-panel a {
	color: #f0750b;
}

.ia-panel a {
	color: #f0750b;
	padding: 1px 2px;
	border-radius: 2px;
}

.ia-panel a:hover {
	color: white;
	background-color: #f0750b;
	text-shadow: none;
	text-decoration: none;
}

.ia-panel {
	margin-top: 10px;
	margin-bottom: 30px;
}

.ia-panel .ia-arrow {
	background: transparent url(../images/innovagency/arrow-panel.gif) scroll no-repeat;
	height: 12px;
	margin: 0 148px;
}

.ia-panel .ia-arrow-left {
	background-position: left top;
}

.ia-panel .ia-arrow-center {
	background-position: 50% top;
}

.ia-panel .ia-arrow-right {
	background-position: right top;
}

.ia-panel .ia-content {
	background-color: #2e2f1e;
	width: 1000px;
	box-shadow: 0 1px 0 white;
}

.ia-panel .ia-content-upper {
	padding: 20px 20px 0 20px;
}

.ia-panel .ia-content-upper .ia-btn-text {
	background: transparent url(../images/innovagency/btn-text.png) scroll no-repeat left bottom;
	width: 145px;
	height: 36px;
	margin-right: 20px;
	color: #c4c5b4;
	text-shadow: 0 -1px 0 #2e2f1e;
	text-align: center;
	line-height: 35px;
	float: left;
	cursor: pointer;
}

.ia-panel .ia-content-upper .ia-btn-text:hover,
.ia-panel .ia-content-upper .ia-btn-text:active,
.ia-panel .ia-content-upper .ia-selected {
	background-position: left top;
}

.ia-panel .ia-content-upper .ia-btn-close {
	background: transparent url(../images/innovagency/btn-close.gif) scroll no-repeat left top;
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
	margin-left: 10px;
}

.ia-panel .ia-content-upper .ia-btn-print {
	background: transparent url(../images/innovagency/btn-print.gif) scroll no-repeat left top;
	width: 17px;
	height: 16px;
	float: right;
	cursor: pointer;
	margin-left: 10px;
}

.ia-panel .ia-content-center {
	padding: 20px;
}

.ia-panel .ia-content-center .panel_header {
	background-color: transparent;
	border-bottom-color: #89826d;
	margin: 0;
	padding-bottom: 5px
}

.ia-panel .ia-content-center li.list_item {
	padding: 7px 30px;
	border-radius: 0;
}

.ia-panel .ia-content-center li .ui-icon-minus {
	background: transparent url(../images/innovagency/btn-minus.png) scroll no-repeat 50% 50% !important;
	border: none transparent !important;
	cursor: pointer;
	margin: 4px 0 0 3px;
	display: block !important;
}

.ia-panel .ia-content-center li.row1 {
	background-color: #4d493d;
}

.ia-panel .ia-content-center li.row2 {
	background-color: #595547;
}

.ia-panel .ia-content-center .panel_paging {
	background-color: transparent;
	border-top-color: #89826d;
	margin: 0;
	padding-top: 15px;
}

.ia-panel .ia-content-center .panel_paging a {
	background-color: #c4c5b4;
	border: 1px solid #89826d;
	border-radius: 3px;
	padding: 5px;
	color: #2e2f1e;
	text-shadow: 0 1px 0 #e4e5d1;
	margin-right: 5px;
}

.ia-panel .ia-content-center .panel_paging a:hover,
.ia-panel .ia-content-center .panel_paging a:active {
	text-decoration: none;
}

.ia-panel .ia-content-center .panel_paging span {
	color: #c4c5b4;
	margin-right: 5px;
}

/* content document */

.freecontent .ia-document li, .ia-panel .ia-document li {
	margin: 7px 0;
	list-style-type: none;
	list-style-image: none;
}

.freecontent .ia-document a, .ia-panel .ia-document a {
	background: transparent url(../images/innovagency/icon-document.png) scroll no-repeat left top;
	height: 36px;
	padding: 10px 0 10px 45px;
	line-height: 36px;
}

.ia-panel .ia-document a {
	color: #cccccc;
}

.freecontent .ia-document a {
	color: #2e2f1e;
}

.freecontent .ia-document a:hover, .ia-panel .ia-document a:hover,
.freecontent .ia-document a:active, .ia-panel .ia-document a:active {
	text-decoration: none;
}

.freecontent .ia-document a:hover, .freecontent .ia-document a:active {
	text-shadow: 0px 1px 0px white;
}

/* search result */

.results-item-list li:hover, .results-item-list li:active {
	background-color: #f2f2f2;
}

.results-item-list .man-biblio-link {
	color: #f0750b !important;
}

/* footer upper */

.ia-footer-upper-outer {
	background: transparent url(../images/innovagency/bg-footer-upper.gif) scroll repeat-x left top;
	width: 100%;
	height: 80px;
}

.ia-footer-upper-inner {
	width: 1000px;
	margin: auto;
}

.ia-footer-upper-inner .ia-logo {
	width: 950px;
	float: left;
}

.ia-footer-upper-inner .ia-logo img.ia {
	margin: 15px 50px 0 0;
}

.ia-footer-upper-inner .ia-top {
	background: transparent url(../images/innovagency/btn-top.png) scroll no-repeat left top;
	width: 35px;
	height: 36px;
	margin-top: 25px;
	float: right;
}

.ia-footer-upper-inner .ia-top:hover {
	background-position: left bottom;
	cursor: pointer;
}

/* footer lower */

.ia-footer-lower-outer {
	background: transparent url(../images/innovagency/bg-footer-lower.gif) scroll repeat-x left top;
	width: 100%;
	height: 37px;
}

.ia-footer-lower-inner {
	width: 1000px;
	margin: auto;
}

.ia-footer-lower-inner * {
	font-size: 10px;
	text-transform: uppercase;
	line-height: 37px;
	text-shadow: 0 1px 0 #2e2f1e;
}

.ia-footer-lower-inner .ia-copyright {
	color: #c4c5b4;
	float: left;
}

.ia-footer-lower-inner .ia-innovagency {
	color: #c4c5b4;
	float: right;
}

.ia-footer-lower-inner .ia-innovagency-name {
	color: #f0750b;
}
