body {
    font-family: "Lucida Grande", Verdana,"Trebuchet MS", sans-serif; color: #000; font-size: 68.75%;
    background-color: #F7F6F1;
    padding: 10px 25px 10px 10px;
}


/*---------- Global Links ----------*/
a, a:link { color: #0033CC; text-decoration: none; }
a:hover   { color: #990000; text-decoration: underline; }
a:active  { color: #FF0000; }
#main-box a.external { background: url("images/external.png") no-repeat scroll right center transparent; padding-right: 13px; }

/*
==========-  PAGE-BANNER  -==========================================
*/
#page-banner { 
    position: relative; height: 65px; margin-bottom: 5px; overflow: hidden;
    background: #E3DFD4 url(images/logo_unil_banner.gif) no-repeat scroll 5px 50%; border:1px solid #C6BDA8;
}

#page-banner h1 { color: #93886A; position: absolute; top: 5px; left: 200px; font-size: 16pt; letter-spacing: 0.1em; }

/*---------- BANNER -> Navigation Menu --------------------*/
#page-banner ul.main-navigation-menu { position: absolute; bottom: 0; height:21px; margin-left:200px; font-size: 14px; overflow: hidden; width: 100%; }
#page-banner .main-navigation-menu li { float:left;margin:0 10px 0 0; }
#page-banner .main-navigation-menu li .nolink,
#page-banner .main-navigation-menu li a { display:block; padding:2px 10px; height: 16px; border: solid 1px #776C4E; border-width:1px 1px 0; font-size: 12px; line-height: 1.4em; color:#776C4E; text-decoration:none; font-weight: bold; }
#page-banner .main-navigation-menu li a:hover { background-color:#F7F6F1; }
#page-banner .main-navigation-menu li.selected a { background-color:#F7F6F1; height: 17px; border-top-width:3px; color:#990000; cursor:default; padding-bottom:0px; }

#login-info {
	position: absolute; top: 3px; right: 5px; 
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; font-size: 11px; text-align: right; color: #5D5D5A;
}
#login-info .user-info .user-name { font-weight: bold; }
#login-info .login-action { color: #900; }
#login-info .login-action a { color: #900; }

/* ---------- BANNER -> Search Box ------------------------*/
#banner-search-box { font-size: 10px; position: absolute; right: 290px; top: 5px;  background: #fff url(images/search_small.png) 100% 50% no-repeat; 
	/* border: solid 1px #D3D3D3; */
}
#banner-search-box input { font-size: 10px; height: 16px; border: solid 1px #C2C2C2; background: transparent; }
#banner-search-box button { font-size: 10px; }

#banner-search-box.ui input { font-size: 10px; height: 22px; padding: 1px 2px 1px 4px; }
#banner-search-box.ui input { -webkit-appearance: textfield !important;  box-sizing: content-box; }
#banner-search-box.ui input:focus,
#banner-search-box.ui input:hover { border-color: #999; }
/* #banner-search-box.ui input { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; } */
#banner-search-box.ui button { font-size: 10px; position: absolute; top: 1px; right: -0px; }

/*
==========-  LEFT MENU  -============================================
*/
#left-menu { float: left; position: relative; background-color: #E3DFD4; border: 1px solid #C6BDA8; padding: 0 5px; }
#left-menu ul { font-size:13px; }
#left-menu li { margin:8px 5px 8px 0; }
#left-menu li a { border-bottom:1px solid #E3DFD4; color:#534B36; display:block; text-decoration:none; padding: 2px 0; }
#left-menu li a:hover { background-color:#EFE8D6; border-bottom-color:#534B36;color:#333333; }
#left-menu li .selected { display: block; border-bottom:1px solid #E3DFD4; padding: 2px 0; color: #990000; }

#left-menu .collapse-trigger { width: 16px; height: 13px; position: absolute; top: 0px; right: 0px; background: url(images/column_collapse_expand.png) 2px -13px no-repeat; cursor: pointer; }
#left-menu .collapse-trigger:hover { background-color: #FEE8D6; }
#left-menu .collapse-trigger-expanded { background-position: 2px 0px; }

/*
==========-  MAIN AREA  -============================================
*/
.main { border:1px solid #C6BDA8; }

/*---------- MAIN -> HEADER --------------------*/
/* -- Header general layout -- */
.main .header { display: table; width: 100%; height: 28px; }
.main .header .wrapper { display: table-row; }
.main .header .title, 
.main .header .status-box, 
.main .header .toolbar-box { display: table-cell; width: 33%; vertical-align: middle; }

.main .header { color:#776C4E; background-color: #E3DFD4; border-bottom: solid 1px #776C4E; }


/* -- Header Title -- */
.main .header .title { 
    padding: 2px 0 5px 10px; white-space: nowrap; 
    font-family: "Trebuchet MS",Helvetica,sans-serif; font-size:18px; font-weight: bold; letter-spacing:1px;
}


/* -- Header Status box --*/
.main .header .status-box { text-align: center; font-size: 13px; }
.main .header .status-box div { line-height: 21px; color: #000; background-color: #fff; border: solid 1px #776C4E; white-space: nowrap; padding: 0 5px; }
.main .header .status-box .save_done { background-color: #29BB15; color: #fff; }
.main .header .status-box .not_valid { background-color: #FFFF66; color: #000; font-weight: bold; }


/*-- Header Toolbar --*/
.main .header .toolbar { float: right; height: 28px; background: url(images/toolbar_bg.png) 0 0 no-repeat; padding-left: 5px; }
.main .header .toolbar .tb_right_cap { display: block; float: left; width: 5px; height: 28px; background: url(images/toolbar_bg.png) 100% 0 no-repeat; }
.main .header .toolbar .tb_but,
.main .header .toolbar .tb_sep { display: block; float: left; }
.main .header .toolbar .tb_but a { display: block; width: 20px; height: 19px; margin: 4px 3px 0; text-decoration: none; background: url(images/tb_but_bg.png) 0px 0 no-repeat; border: 1px solid #98958E; }
.main .header .toolbar .tb_but a:hover { border-color: #776C4E; background-position: 0 -19px; }
.main .header .toolbar .tb_but a:active { border-color: #FF6C4E; background-position: 0 -19px; }
.main .header .toolbar .tb_but a img { margin: 1px 0px 0px 2px; cursor: pointer; }
.main .header .toolbar .tb_but a.last img { margin-left: 2px; }
.main .header .toolbar .tb_sep { width: 7px; height: 28px; background: url(images/tb_sep.png) 0 0 no-repeat; }



/*---------- MAIN -> CONTENT --------------------*/
.main .content { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; line-height: 1.3em; padding: 10px; background-color: #FFF; color: #000; }
.main .content h2,.main .content h3, .main .content h4 { margin-bottom: 15px; font-size: 14px; }

p.error-msg code { font-weight: bold; }


/*
 * ========== DocumentFile List/edition =====================================
 */
.docfile {}

.docfile .header { background-color: #E3DFD4; border-bottom: 1px solid #776C4E; padding: 5px 5px 5px; }
.docfile .header .action-buttons { position: absolute; top: 7px; right: 5px; }
.docfile .header .action-buttons a { color: #C00; text-decoration: none; }
.docfile .header .action-buttons a:hover { text-decoration: underline; }

.docfile .action-buttons { font-size: 11px; color: #C00; }


.docfile h2, .docfile-list th { font-family: "Trebuchet MS",Helvetica,sans-serif; font-size: 16px; font-weight: bold; color: #776C4E; }

.docfile-list { margin: 5px 0; border: 1px solid #C6BDA8; width: 100%; border-collapse: collapse; }
.docfile-list th { background-color: #E3DFD4; font-size: 12px; border: 1px solid #C6BDA8; }
.docfile-list td { border-right: 1px dotted #C6BDA8; padding: 2px 3px 2px 5px; }

.docfile-list tr.row1 td { background-color: #FFFFFF; }
.docfile-list tr.row2 td { background-color: transparent; }
.docfile-list tr:hover td { background-color: #FED; }

.docfile-list td.docfile-title a { display: block; }
.docfile-list td.docfile-authorized-groups { font-size: 90%; cursor: default;  }
.docfile-list td.action-buttons { width: 150px; }





.docfile-form { margin: 5px 0; }
.docfile-form li { list-style: none; margin: 5px 0 20px; clear:both; }
.docfile-form li .docfile-title {  }
.docfile-form li .docfile-authorized-groups {  }

.docfile-form input { width: 250px; }
.docfile-form label {
	display:block; float:left; margin-right: 5px; padding-left: 5px;  width: 150px;
	line-height:1.5em; color:#574C2E; font-size:9pt; font-weight:bold; background-color:#E3DFD4;
}
.docfile-form .docfile-current-file,
.docfile-form .help-text { margin-left: 155px; }
.docfile-form .help-text { font-size: 90%; color: #666; }

.docfile-form .errorlist li { margin: 5px 0; padding: 0; color: #C00; }

/*
 * ==========  FOOTER  ==============================================
 */
.footer { 
	color:#C6BDA8;
	font-size:12px;
	text-align: center;
	margin: 8px 0 0;
 }
 
 
.footer .vcard, .footer .vcard div { display: inline; } 
 



/*
 * ==========  LEFT-MENU Sizing  ====================================
 */
#left-menu { width: 180px; }
.main, .footer { margin-left: 200px; }




/*
 * ========== Messages =================================================
 */
 .message { margin: 5px 10px; padding: 10px; font-size: 9pt; line-height: 16px; }
 
 .message-info { border: solid 1px #E3DFD4; background-color: #FFF; }
 .message-info:before { content:url(images/information.png); float: left; margin-right: 5px; }
 
 .message-error { border: solid 1px #D33; background-color: #FFDFDF; }
 .message-error:before { content:url(images/error.png); float: left; margin-right: 5px; }
 
 
 /*
  * ========== Tooltips =======================================================
  */
/*.tooltiplink { float: right; margin-right: 0.3em; margin-top: 0.1em; border: 0!important; background: transparent !important; }
.tooltiplink a { cursor: help; }*/
.tooltiplink a.tooltiplink {
    float: right; display: block; padding: 0 3px; 
    color: #F7F6F1 !important; background-color: #C6BDA8; text-decoration: none; cursor: help; 
}
.tooltiplink:hover { text-decoration: none !important; }

.tooltip_content {
	width: 250px; padding: 5px; cursor: default;
	background: #FFA; border: solid 2px #DD6;
	font-size: 11px; color: #222;
} 

.tooltip_content h1, .tooltip_content h2, .tooltip_content h3, .tooltip_content h4, .tooltip_content h5, .tooltip_content h6 {
	font-size: 12px; font-weight: bold; text-decoration: none; 
	margin-bottom: 2px; padding-bottom: 1px; border-bottom: solid 1px #000;
}
.tooltip_content p { margin-bottom: 0.5em; line-height: 1.1em; }
.tooltip_content p:last-child { margin-bottom: 0; }

.tooltip_content strong { font-weight: bold; font-size: 110%; }
	  
 /*
  * ========== CKEditor Extension Buttons ================================
  *
  */
 .x-cke_label_button .cke_icon { display: none !important; }
 .x-cke_label_button .cke_label {
  display: inline !important;
  padding-left: 0 !important;
}
 

/*
 * ========== Panel ===========================================================
 * 
 */
.panel_box { -moz-border-radius: 3px 3px 3px 3px; }
.panel_box { -moz-box-shadow: 0px 0px 5px #E3DFD4; }

.panel_box {
    background: none repeat scroll 0 0 #E3DFD4;
    border: 1px solid #776C4E;
    padding: 5px;
    margin-bottom: 10px;
}
.panel_box h4 { margin-bottom: 6px !important; color: #776C4E; font-size: 13px; }
.panel_box .panel_body {-moz-border-radius: 3px 3px 3px 3px;}
.panel_box .panel_body {
    background-color: #FFFFFF;
    border: solid 1px #C6BDA8;
    border-top-color: #B2AA97;
    border-bottom-color: #DAD0B9;
    padding: 3px;
}



.panel_box .panel_list { margin-bottom: 10px; }
.panel_box .panel_list:last-child { margin-bottom: 0; }

.panel_box .list_item { line-height: 1.2em; padding: 3px 0; border: solid 1px transparent; position: relative;}
.panel_box .list_item { -moz-border-radius: 2px; }
.panel_box .list_item:hover { background-color: #F2EFE5; }
		
	


 