html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, a, textarea {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html, body {
	font-size: 13px;
	line-height: 1.231;
	width: 100%;
	height: 100%;
}

:focus {
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0;
}

::selection {
	background-color: #f0750b;
	color: white;
	text-shadow: none;
}

@font-face {
    font-family: 'LaneNarrowRegular';
    src: url('../font/LANENAR_-webfont.eot');
    src: url('../font/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/LANENAR_-webfont.woff') format('woff'),
         url('../font/LANENAR_-webfont.ttf') format('truetype'),
         url('../font/LANENAR_-webfont.svg#LaneNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#project-description-content-id h1 { 
	font-family: 'LaneNarrowRegular', Arial, sans-serif; 
	padding: 15px 0 15px 0;
	font-size: 30px;
	color: #f0750b;
	font-weight: normal;
	text-shadow: 0 1px 0 white;
}

#project-description-content-id h2 { 
	font-family: 'LaneNarrowRegular', Arial, sans-serif; 
	padding: 5px 0;
	font-size: 25px;
	color: #f0750b;
	font-weight: normal;
	text-shadow: 0 1px 0 white;
}

#project-description-content-id h3 {
	font-family: 'LaneNarrowRegular', Arial, sans-serif;
	padding: 5px 0;
	font-size: 20px;
	color: #89826d;	
	text-shadow: 0 1px 0 white;
}

#project-description-content-id p {
	padding: 0 0 10px 0;
	text-align: justify;
	line-height: 22px;
	color: #2e2f1e;
}

#project-description-content-id a {
	text-decoration: none;	
}

#project-description-content-id a {
	color: #f0750b;
	padding: 1px 2px;
	border-radius: 2px;
}

#project-description-content-id a:hover {
	color: white;
	background-color: #f0750b;
	text-shadow: none;
	text-decoration: none;
}

#project-description-content-id .section { clear: both; }

#project-description-content-id img[style*="float: right"] { margin: 0 0 0px 0.5em !important; }

.note-editorial {counter-increment:noteeditorial;}
.note-document {counter-increment:notedocument;}
span.note-editorial:before {content: counter(noteeditorial,decimal);padding-left:0.5em }
span.note-document:before {content: counter(notedocument,lower-roman);padding-left:0.5em }
span.note-editorial, span.note-document {border: #777 dashed 1px;vertical-align:super;font-size:75%;background:#EEE;}