/*
 * ---------- Search filters ----------
*/

#search-filter-applied {  }
#search-filter-applied .search-filter { display: table; width: 100%; border: solid 1px #DDD; background-color: #E9E9E9; margin-bottom: 5px; }

#search-filter-applied .search-filter .filter-class-selector,
#search-filter-applied .search-filter .filter-content-placeholder,
#search-filter-applied .search-filter .filter-actions { display: table-cell; padding: 5px; margin-bottom: 5px;}

#search-filter-applied .search-filter .filter-class-selector,
#search-filter-applied .search-filter .filter-actions { white-space: nowrap; }
#search-filter-applied .search-filter .filter-content-placeholder { width: 100%; }



/* ========== Results ========== */


.results { border: 1px solid #C6BDA8; border-collapse: collapse; font-size: 110% }
.results thead th,
.results thead td { text-align: center; color: #5D5D5D; border: 1px solid #C6BDA8; }
.results thead th { background-color: #E3DFD4; font-size: 11px; font-weight: bold; }
.results thead td { background-color: #EBE7DB; font-size: 9px; }

.results tbody td { border: 1px solid #D7D0BE; border-width: 1px; }
.results tbody td:first-child { border-left-color: #C6BDA8; }
.results tbody td:last-child { border-right-color: #C6BDA8; }
.results tbody tr:last-child td { border-bottom-color: #C6BDA8; }

.results td table td { border:0; border-left: 1px solid #D7D0BE; border-top: 1px dotted #C6BDA8; }
.results td table td:first-child { border-left:0; }
.results td table tr:first-child td { border-top:0; }

.results tbody tr.row2 td { background-color: #F0EEE7; } 

.results tbody td span,
.results tbody td a { padding: 0 4px; line-height: 1.8em; }

/* ui widgets */
.ui-widget { font-size: 12px; }
.ui-button-text-only .ui-button-text { padding: 0.3em 0.8em!important; }

/* Display Settings */
.column-display-settings li { height: 36px; clear: right; }
.column-display-settings .column-title { clear: both; line-height: 28px; }
.column-display-settings .column-settings { float: right; }

.ui-dialog dl.caption    { padding: 5px 5px 5px 10px; }
.ui-dialog dl.caption dt code,
.ui-dialog dl.caption dd { line-height: 1.3em; }
.ui-dialog dl.caption dt { clear: left; float: left; width: 60px; padding: 0 5px 0 4px; background-color: #EEE; text-align: right; }
.ui-dialog dl.caption dd { margin-left: 73px; }

#search-results .paginator { position: relative; height: 16px; }
#search-results .paginator .pagination-nbval { position: absolute; left: 3px; font-size: 90.9090%; }


body.layout2 #search-results { font-size: 84.615%; line-height: 127.2727%; }

body.layout2 #search-results .results, 
body.layout2 #search-results .results th,
body.layout2 #search-results .results td { border-color: #C6C6C6 !important; }

body.layout2 #search-results .results thead th { background-color: #D3D3D3 !important; padding-top: 2px; padding-bottom: 2px; }
body.layout2 #search-results .results thead td { background-color: #E0E0E0 !important; }
body.layout2 #search-results .results tbody tr.row2 td { background-color: #F0F0F0; } 

body.layout2 #search-results .paginator {
	color: #222222; line-height: 1.5em;
	background: #e9e9e9; border: solid 1px #C6C6C6;
}
body.layout2 #search-results .paginator.top { border-bottom: 0; }
body.layout2 #search-results .paginator.bottom { border-top: 0; }

body.layout2 #search-results .pagination .page { padding: 0 4px; }
body.layout2 #search-results .pagination a { color: #222222; text-decoration: none; }
body.layout2 #search-results .pagination a:hover { color: #000000; text-decoration: underline; background-color: transparent; }
body.layout2 #search-results .pagination .current { color: #222222; font-weight: bold; background-color: #f8f8f8; border: solid 1px #D3D3D3; border-width: 0 1px 1px; }
body.layout2 #search-results .pagination .prev, .ext-results .pagination .next { margin: 0 4px; }
body.layout2 #search-results .pagination .disabled { color: #999999; font-style: italic; display: inline; }



body.layout2 #search-results .paginator {
    background: #e9e9e9;
    background: -moz-linear-gradient(top, #e9e9e9 0%, #d5d5d5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#d5d5d5));
    background: -webkit-linear-gradient(top, #e9e9e9 0%,#d5d5d5 100%);
    background: -o-linear-gradient(top, #e9e9e9 0%,#d5d5d5 100%);
    background: -ms-linear-gradient(top, #e9e9e9 0%,#d5d5d5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#d5d5d5',GradientType=0 );
    background: linear-gradient(top, #e9e9e9 0%,#d5d5d5 100%);
}
body.layout2 #search-results .paginator.top { 
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
body.layout2 #search-results .paginator.bottom {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}


body.layout2 #search-results .pagination .current {
	background: -moz-linear-gradient(top, #e4e4e4 0%, #f1f1f1 66%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(66%,#f1f1f1));
	background: -webkit-linear-gradient(top, #e4e4e4 0%,#f1f1f1 66%);
	background: -o-linear-gradient(top, #e4e4e4 0%,#f1f1f1 66%);
	background: -ms-linear-gradient(top, #e4e4e4 0%,#f1f1f1 66%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f1f1f1',GradientType=0 );
	background: linear-gradient(top, #e4e4e4 0%,#f1f1f1 66%);
}





