


/*
 * ##### Biblio Extended #####
 */

.ext_search form .search-filters {
	margin-left: 5px;
	margin-right: 5px;
	width: 950px;
}
.ext_search .search-filters .fields-table {
	width: 100%;
	position: relative;
	border-top: solid 1px #c6c6c6;
	margin-top: 5px;
	padding-top: 5px;
	border-collapse: separate;
	table-layout: fixed;
}
.ext_search .search-filters .fields-table:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
.ext_search .search-filters .fields-table th {
	text-align: left;
	padding: 1px 0 4px;
	font-weight: 500;
	font-size: 12px;
	color: #626262;
}
.ext_search .search-filters .fields-table th,
.ext_search .search-filters .fields-table td {
	vertical-align: top;
	border-left: solid 1px #c6c6c6;
	padding: 0 5px;
}
.ext_search .search-filters .fields-table th:first-child,
.ext_search .search-filters .fields-table td:first-child {
	border-left: none;
}
.ext_search .search-filters .fields-table .kwrds {
	position: relative;
}

:-moz-placeholder,
::-webkit-input-placeholder { color: #AAA; font-style: italic; }

.ext_search { font-size: 11px; }
.ext_search .hidden { display: none; }
.ext_search .cadre { margin: 3px 0 0; padding: 2px 5px 3px; position: relative; overflow: hidden; }

.collapse_btn { position: absolute; top: 0; right: 0; cursor: pointer; }

.ext_search .cadre .collapse-fieldset { position: absolute; top: 3px; right: 3px; font-size: 9px; }
.ext_search .cadre.collapsed { height: 15px !important; }
fieldset.collapsed { height: 15px !important; overflow: hidden; }
.collapsed #id_proj_op { display: none; }

.ext_search fieldset legend { padding: 1px 0 4px; font-weight: 500; font-size: 12px; color: #626262; }
.ext_search fieldset .more-field, .ext_search .search-filters .more-field { position: absolute; bottom: 0; right: 0; }


.ext_search .fldset_xfld .fld_op { text-align: center; }
.ext_search .fldset_xfld .fld_sel select { width: 100%; }
.ext_search .fldset_xfld input { width: 100%; }
.ext_search .xfld_row { margin-top: 3px;}

.ext_search .ext-checkbox-inline {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 6px 12px;
}

.ext_search .ext-checkbox-inline li {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.ext_search .ext-checkbox-inline li label {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}

.ext_search .ext-checkbox-inline li input[type="checkbox"] {
    margin: 0;
}

#id_dt {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 6px 12px;
}

#id_dt li {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    flex: 0 0 calc(33% - 12px);
    min-width: calc(33% - 12px);
}

#id_dt li label {
    white-space: nowrap;
}

.ext_checkbox_contiguous.ext-checkbox-inline li {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.ext-checkbox-inline-proj {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 6px;
}

.ext-checkbox-inline-proj li {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    gap: 4px;
    flex: 0 0 calc(50% - 18px);
}

.ext_search .height_60 .cadre,
.ext_search .height_60 fieldset { height: 60px; }
.ext_search .fldset_date input { width: 50px; text-align: center; }
.ext_search .fldset_language legend,
.ext_search .fldset_date legend { margin-bottom: 5px; }
.ext_search .fldset_ltype li { white-space: nowrap; padding: 0 2px 2px 0;}
.ext_search .fldset_ltype li:nth-child(2) { float: left; }
.ext_search .fldset_ltype li:nth-child(3) { float: right; }

.ext_search .fldset_kwrds .pkw_val select,
.ext_search .fldset_kwrds .skw_val select { width: 100%; }
.ext_search .fldset_kwrds .kwrds_row { margin-top: 3px; }

.ext_search .cmd_bar { padding: 4px 0; line-height: 26px; }
.ext_search .cmd_bar .cmd_set { padding: 0 5px; }
.ext_search .cmd_bar .cmd_set:first-child { padding-left: 10px; }


/* ---------- Results list ---------- */
.ext-results { font-size: 11px; }
.results-group-list { font-size: 118.2%; }
.results-group-list > li { margin-bottom: 1.4em; }
.results-group-list > li:last-child { margin-bottom: 0px; }

.results-subgroup-list { margin-top: 5px; }

.results-group-list .grouper_1 { font-size: 110%; font-weight: normal; border-bottom: solid 1px #222222; line-height: 20px; }
.results-group-list .doctype   > .grouper { padding-left: 20px; background-repeat: no-repeat; background-position: 0 0; }
.results-group-list .doctype_1 > .grouper { background-image: url(images/doctype_book.png); }
.results-group-list .doctype_2 > .grouper { background-image: url(images/doctype_bookItem.png); }
.results-group-list .doctype_3 > .grouper,
.results-group-list .doctype_4 > .grouper { background-image: url(images/doctype_journalArticle.png); }
.results-group-list .doctype_5 > .grouper { background-image: url(images/doctype_manuscript.png); }

.results-group-list .author { margin-top: 0.36em; } 
.results-group-list .author > .grouper { font-family: monospace; font-size: 123%; color: #222222; background-color: #E4E4E4; /*clear: left; float: left; line-height: 1.285em;*/ line-height: 0.85em; padding: 1px 10px 1px 10px; } 

.results-item-list { padding-left: 5px; }
.results-item-list li { line-height: 1.25em; padding: 0.3em 0 0.3em 25px; }
.results-item-list li:hover { background-color: #EBF0FF; cursor: default; }
.results-item-list .collector-list-add-button { float:left; margin: 1px 0 0 -20px; cursor: pointer; visibility: hidden; }
.results-item-list li:hover > .collector-list-add-button { visibility: visible; }


.ext-results-body { margin-top: 10px; margin-bottom: 5px; }
.results-header,
.results-footer { color: #222222; line-height: 1.5em; }
.ext-results { margin-top: 5px; }
.ext-results-paging { text-align: center; }
.ext-results-nbitem { padding-left: 10px; }

/* ==================== Theme ==================== */

.results-paging .pagination .page { padding: 0 4px; }
.results-paging .pagination a { color: #222222; text-decoration: none; }
.results-paging .pagination a:hover { color: #000000; text-decoration: underline; background-color: transparent; }
.results-paging .pagination .current { color: #222222; font-weight: bold; background-color: #e9e9e9; border: solid 1px #D3D3D3; border-width: 0 1px 1px; }
.results-paging .pagination .prev, .ext-results .pagination .next { margin: 0 4px; }
.results-paging .pagination .disabled { color: #999999; font-style: italic; display: inline; }

/*.results-item-list li:nth-child(2n+1) { background-color: #f4f4f4; }*/

.results-footer, .results-header, .ext_search .cmd_bar { background: #e9e9e9; border: solid 1px #D3D3D3; }
        
.ext_search .cadre { border: solid 1px #C6C6C6; background-color: #F8F8F8; }
.ext_search .fldset_date, .ext_search .fldset_language, .ext_search .fldset_ltype
, .ext_search .fldset_society, .ext_search .fldset_journal, .ext_search .fldset_mtype 
{ border-left: solid 1px #C6C6C6; padding-left: 5px; }
.ext_search .fldset_society select, .ext_search .fldset_journal select
, .ext_search .fldset_mtype select, .ext_search .fldset_language select
, .ext_search .fldset_depot select { width: 100%; }
.ext_search .field_error { display: inline-block; border: solid 2px #F00; }
.ext_search .field_error input { color: #F00; }

/*.collapse_btn { background: #E3DFD4; border: solid 1px #C6BDA8; border-width: 0 0 1px 1px; } 
.collapse_btn:hover { border-color: #776C4E; }*/
.collapse_btn { border-width: 0 0 1px 1px; } 
/* ---------- CSS3 ---------- */
.results-footer, .results-header, .ext_search .cmd_bar {
    border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
    
    background: #e9e9e9;
    background: -moz-linear-gradient(top, #e9e9e9 0%, #d5d5d5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#d5d5d5));
    background: -webkit-linear-gradient(top, #e9e9e9 0%,#d5d5d5 100%);
    background: -o-linear-gradient(top, #e9e9e9 0%,#d5d5d5 100%);
    background: -ms-linear-gradient(top, #e9e9e9 0%,#d5d5d5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#d5d5d5',GradientType=0 );
    background: linear-gradient(top, #e9e9e9 0%,#d5d5d5 100%);
}

.ext-results .pagination .current {
    background: -moz-linear-gradient(top, #e4e4e4 0%, #f1f1f1 66%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(66%,#f1f1f1));
    background: -webkit-linear-gradient(top, #e4e4e4 0%,#f1f1f1 66%);
    background: -o-linear-gradient(top, #e4e4e4 0%,#f1f1f1 66%);
    background: -ms-linear-gradient(top, #e4e4e4 0%,#f1f1f1 66%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f1f1f1',GradientType=0 );
    background: linear-gradient(top, #e4e4e4 0%,#f1f1f1 66%);
}


.ext_search .cadre { border-radius: 4px; -moz-border-radius: 4px;  -webkit-border-radius: 4px; }

.ext_search .cadre {
    background: #f4f4f4;
    background: -moz-linear-gradient(top, #f4f4f4 60%, #e9e9e9 94%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#f4f4f4), color-stop(94%,#e9e9e9));
    background: -webkit-linear-gradient(top, #f4f4f4 60%,#e9e9e9 94%);
    background: -o-linear-gradient(top, #f4f4f4 60%,#e9e9e9 94%);
    background: -ms-linear-gradient(top, #f4f4f4 60%,#e9e9e9 94%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e9e9e9',GradientType=0 );
    background: linear-gradient(top, #f4f4f4 60%,#e9e9e9 94%);
}


.collapse_btn { -webkit-border-radius: 0 4px 0 4px; -moz-border-radius: 0 4px 0 4px; border-radius: 0 4px 0 4px; } 
form.edit-form fieldset .collapse_btn { -webkit-border-radius: 0 10px 0 4px; -moz-border-radius: 0 10px 0 4px; border-radius: 0 10px 0 4px; }




/* ========== SEARCH FILTERS ========== */

#search-filter-applied { margin-top: 3px; font-size: 84.615%; }
#search-filter-applied .search-filter { display: table; width: 100%; border-style: solid; border-width: 1px; margin-bottom: 3px; }

#search-filter-applied .search-filter .filter-class-selector,
#search-filter-applied .search-filter .filter-content-placeholder,
#search-filter-applied .search-filter .filter-actions { display: table-cell; padding: 5px; margin-bottom: 5px;}

#search-filter-applied .search-filter .filter-class-selector,
#search-filter-applied .search-filter .filter-actions { white-space: nowrap; }
#search-filter-applied .search-filter .filter-content-placeholder { width: 100%; }

#search-filter-applied .search-filter .search-filter-content-part { line-height: 2.272727em; }



/* ========== FILTERS RESULTS ========== */

#search-results { font-size: 84.615%; line-height: 127.2727%; }

/* ----- table ----- */
#search-results .results { border-collapse: collapse; font-size: 110%; }
#search-results .results thead th,
#search-results .results thead td { text-align: center; border-width: 1px; border-style: solid; padding: 0 2px 0 3px; }
#search-results .results thead th { font-size: 11px; font-weight: bold; padding-top: 2px; padding-bottom: 2px; }
#search-results .results thead td { font-size: 9px; }

#search-results .results tbody td { border-style: solid; border-width: 1px; padding: 0 2px 0 3px; }

#search-results .results td table td { border-width: 1px 0 0 1px; border-top-style: dotted; }
#search-results .results td table td:first-child { border-left:0; }
#search-results .results td table tr:first-child td { border-top:0; }

#search-results .results tbody td span,
#search-results .results tbody td a { padding-top: 4px; padding-bottom: 4px; line-height: 1.8em; }

/* ----- Paginator ----- */
#search-results .paginator { position: relative; height: 16px; line-height: 1.5em; border-style: solid; border-width: 1px;}
#search-results .paginator .pagination-nbval { position: absolute; left: 3px; font-size: 90.9090%; }
#search-results .paginator.top { border-bottom: 0; }
#search-results .paginator.bottom { border-top: 0; }

#search-results .pagination .page { padding: 0 4px; }
#search-results .pagination a { color: #222222; text-decoration: none; }
#search-results .pagination a:hover { color: #000000; text-decoration: underline; background-color: transparent; }
#search-results .pagination .current { color: #222222; font-weight: bold; background-color: #f8f8f8; border-style: solid; border-width: 0 1px 1px; }
#search-results .pagination .prev, .ext-results .pagination .next { margin: 0 4px; }
#search-results .pagination .disabled { color: #999999; font-style: italic; display: inline; }





/*
 * ##### Global Search #####
 */

/* ============ GLOBAL SEARCH FORM ========== */

#global-search { margin-bottom: 5px; }
#global-search .global-search-form { font-size: 84.615%; display: block; border-style: solid; border-width: 1px; }

#global-search #id_q { width: 470px; font-size: 127.272727%;  padding: 5px 10px 5px 5px; margin-right: 10px; }
#global-search #search-but { max-width: 100px; overflow: hidden; }

#global-search .global-search-form-container { padding: 10px; }
#global-search .cb-list-container .label { font-weight: bold;  padding: 0.25em 0 0.1em 0; }
#global-search .cb-list-container ul { height: 2em; padding-left: 10px; }
#global-search .cb-list-container li { float: left; padding: 0.1em 1.5em 0 0; }


/* ============ GLOBAL SEARCH RESULTS ========== */
#global-results { font-size: 11px; }
#global-results .global-results-paging { text-align: center; }
#global-results .global-results-body { margin-top: 10px; }
#global-results .results-biblio-doctype { padding-left: 0 !important; }
#global-results li.doctype { margin-top: 10px; }
#global-results li.doctype:first-child { margin-top: 0px; }



/* ----- Theme ----- */
/* ============ GLOBAL SEARCH FORM ========== */
#global-search .global-search-form { border-color: #C6C6C6; background-color: #F8F8F8; }
#global-search .global-search-form {
    border-radius: 4px; -moz-border-radius: 4px;  -webkit-border-radius: 4px;
    background: -moz-linear-gradient(top, #f4f4f4 60%, #e9e9e9 94%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#f4f4f4), color-stop(94%,#e9e9e9));
    background: -webkit-linear-gradient(top, #f4f4f4 60%,#e9e9e9 94%);
    background: -o-linear-gradient(top, #f4f4f4 60%,#e9e9e9 94%);
    background: -ms-linear-gradient(top, #f4f4f4 60%,#e9e9e9 94%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e9e9e9',GradientType=0 );
    background: linear-gradient(top, #f4f4f4 60%,#e9e9e9 94%);
}
#global-search .global-search-form #id_q { border: solid 1px #D3D3D3; }
#global-search .global-search-form #id_q:focus { border-color: #BDBDBD; }
#global-search .global-search-form .cb-list-container .label { color: #5D5D5D; }






/* ui widgets ??? */
.ui-widget { font-size: 12px; }
.ui-button-text-only .ui-button-text { padding: 0.3em 0.8em!important; }



/* Display Settings */
.column-display-settings li { height: 36px; clear: right; }
.column-display-settings .column-title { clear: both; line-height: 28px; }
.column-display-settings .column-settings { float: right; }

.ui-dialog dl.caption    { padding: 5px 5px 5px 10px; }
.ui-dialog dl.caption dt code,
.ui-dialog dl.caption dd { line-height: 1.3em; }
.ui-dialog dl.caption dt { clear: left; float: left; width: 60px; padding: 0 5px 0 4px; background-color: #EEE; text-align: right; }
.ui-dialog dl.caption dd { margin-left: 73px; }


















