# Dev container service

name: LumieresLausanne

networks:
  frontend:
  backend:


volumes:
  db-data:
services:
  dev:
    image: mcr.microsoft.com/devcontainers/python:1-3.12-bullseye
    env_file:
      - ../.env
    # Uncomment if you want to override the service's Dockerfile to one in the .devcontainer 
    # folder. Note that the path of the Dockerfile and context is relative to the *primary* 
    # docker-compose.yml file (the first in the devcontainer.json "dockerComposeFile"
    # array). The sample below assumes your primary file is in the root of your project.
    #
    # build:
    #   context: .
    #   dockerfile: .devcontainer/Dockerfile

    volumes:
      # Forwards the local Docker socket to the container.
      - /var/run/docker.sock:/var/run/docker-host.sock
      # Update this to wherever you want VS Code to mount the folder of your project
      - ../..:/workspaces:cached

    # Uncomment the next four lines if you will use a ptrace-based debugger like C++, Go, and Rust.
    # cap_add:
    #   - SYS_PTRACE
    # security_opt:
    #   - seccomp:unconfined

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    networks:
      - frontend
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db:
    image: mysql:9.3
    env_file:
      - ../.env
    volumes:
      - db-data:/var/lib/mysql
      - ../settings/db/mysql-custom.cnf:/etc/mysql/conf.d/mysql-custom.cnf:ro
    networks:
      - backend
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 30s
      timeout: 10s
      retries: 3

  phpmyadmin:
    image: phpmyadmin:latest
    links:
      - db
    depends_on:
      - db
    networks:
      - backend
    environment:
      PMA_HOST: db
