{% extends "fiches/fiche_base2.html" %}
{% load i18n %}
{% comment %} {% load url from future %} {% endcomment %}

{% block main_header_title %}{% trans 'Password reset' %}{% endblock %}

{% block main_content %}

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post" style="margin-top: 20px;">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1" style="width: 200px; float: left;">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2" style="width: 200px; float: left;">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p style="margin-top: 20px;">
	<button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
		<span class="ui-button-text">{% trans 'Change my password' %}</span>
	</button>
</p>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
